/* Open Sans font */
@import "https://fonts.googleapis.com/css?family=Open+Sans";
/* Colours */
/* Sizes */
/* z-indexes */
/* line 20, ../sass/styles.scss */
body, html {
  background-color: white;
  font-family: "Open Sans", sans-serif;
}

/* line 26, ../sass/styles.scss */
button:focus {
  outline: none;
}

/* line 31, ../sass/styles.scss */
.brand-color {
  color: #01BAEF;
}

/* line 35, ../sass/styles.scss */
.centered {
  text-align: center;
  margin: auto;
}

/* line 40, ../sass/styles.scss */
#nav {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  padding: 0px 20px;
  margin-bottom: 30px;
}
/* line 49, ../sass/styles.scss */
#nav h1 {
  font-size: 30px;
}
/* line 53, ../sass/styles.scss */
#nav #settings-button {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 0px;
  background-color: transparent;
  border: none;
  height: auto;
  z-index: 102;
  transition: all 0.2s ease-in-out;
}
/* line 68, ../sass/styles.scss */
#nav #settings-button ::before {
  display: inline-block;
  transition: all 0.2 ease-in-out;
}
/* line 73, ../sass/styles.scss */
#nav #settings-button.open {
  color: white;
}
/* line 76, ../sass/styles.scss */
#nav #settings-button.open ::before {
  transform: rotate(90deg);
}

/* line 84, ../sass/styles.scss */
#dashboard {
  margin-bottom: 30px;
}
/* line 88, ../sass/styles.scss */
#dashboard #task-title {
  text-align: center;
}
/* line 91, ../sass/styles.scss */
#dashboard #task-title #current-task {
  margin: auto;
  border: none;
  background-color: transparent;
  text-align: center;
  font-size: 20px;
  width: 300px;
  height: 30px;
  margin-bottom: 15px;
}
/* line 102, ../sass/styles.scss */
#dashboard #task-title #current-task:focus {
  border: none;
  outline: none;
}
/* line 108, ../sass/styles.scss */
#dashboard #task-title #finish-task {
  border: 1px solid #1abf36;
  border-radius: 5%;
  background-color: transparent;
  padding: 5px 10px;
  display: block;
  margin: 0px auto 20px auto;
  transition: opacity 0.2s ease-in-out;
  /* Hidden until task is entered */
  visibility: hidden;
  opacity: 0;
}
/* line 121, ../sass/styles.scss */
#dashboard #task-title #finish-task a {
  text-decoration: none;
  color: #1abf36;
}
/* line 124, ../sass/styles.scss */
#dashboard #task-title #finish-task a:hover {
  text-decoration: none;
  color: #6EEB83;
}
/* line 130, ../sass/styles.scss */
#dashboard #task-title #finish-task:hover {
  border-color: #6EEB83;
}
/* line 134, ../sass/styles.scss */
#dashboard #task-title #finish-task.visible {
  opacity: 1;
  visibility: visible;
}
/* line 141, ../sass/styles.scss */
#dashboard .clock-container {
  /* Clock circle */
}
/* line 144, ../sass/styles.scss */
#dashboard .clock-container #clock-outline {
  height: 290px;
  width: 290px;
  margin: auto;
  background-color: transparent;
  border: 2px solid #01BAEF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 2s ease-in-out;
  /* Time and button to play/pause */
}
/* line 161, ../sass/styles.scss */
#dashboard .clock-container #clock-outline #clock-info {
  text-align: center;
  width: 100%;
  position: relative;
}
/* line 166, ../sass/styles.scss */
#dashboard .clock-container #clock-outline #clock-info .time {
  font-size: 4em;
  margin-bottom: 12px;
}
/* line 171, ../sass/styles.scss */
#dashboard .clock-container #clock-outline #clock-info #play {
  background-color: transparent;
  border: none;
  color: #01BAEF;
  transition: color 2s ease-in-out;
}

/* Boxes with TO-DOs and COMPLETED */
/* line 184, ../sass/styles.scss */
#sidebar {
  padding: 30px;
  /* Containers */
  /* Custom header background colours */
}
/* line 189, ../sass/styles.scss */
#sidebar .box {
  margin: 0px 0px 30px 0px;
  box-shadow: 0px 0px 1px #666;
  transition: all .2s ease-in-out;
}
/* line 195, ../sass/styles.scss */
#sidebar .box:hover {
  box-shadow: 0px 0px 5px #aaa;
}
/* line 198, ../sass/styles.scss */
#sidebar .box .box-title {
  color: #444;
  padding: 0px 20px;
}
/* line 204, ../sass/styles.scss */
#sidebar .task {
  box-shadow: 0px 0px 1px #888;
  height: 50px;
  line-height: 50px;
  margin: 12px 0px;
  padding: 0px 10px;
  position: relative;
}
/* line 213, ../sass/styles.scss */
#sidebar .task p {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
/* line 223, ../sass/styles.scss */
#sidebar #to-do {
  /* Tooltips only appear in to-do list, NOT in completed */
}
/* line 224, ../sass/styles.scss */
#sidebar #to-do #add {
  color: #aaa;
}
/* line 226, ../sass/styles.scss */
#sidebar #to-do #add input {
  display: inline-block;
  border: none;
  background-color: transparent;
}
/* line 231, ../sass/styles.scss */
#sidebar #to-do #add input:focus {
  border: none;
  outline: none;
}
/* line 238, ../sass/styles.scss */
#sidebar #to-do #add:hover {
  color: #01BAEF;
  cursor: pointer;
}
/* line 245, ../sass/styles.scss */
#sidebar #to-do .task {
  /* Hovering tooltip */
}
/* line 247, ../sass/styles.scss */
#sidebar #to-do .task .options {
  position: absolute;
  right: 20px;
  top: 10px;
  height: 30px;
  line-height: 30px;
  padding: 0px 10px;
  color: #aaa;
  background-color: white;
  visibility: visible;
}
/* line 262, ../sass/styles.scss */
#sidebar #to-do .task .current {
  color: #01BAEF;
}
/* line 266, ../sass/styles.scss */
#sidebar #to-do .task:hover {
  cursor: pointer;
}
/* line 271, ../sass/styles.scss */
#sidebar #to-do .box-title {
  background-color: #01BAEF;
}
/* line 277, ../sass/styles.scss */
#sidebar #completed .box-title {
  background-color: #6EEB83;
}

/* line 284, ../sass/styles.scss */
.overlay {
  transition: all 0.2s ease-in-out;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100vh;
  z-index: 101;
  visibility: hidden;
  opacity: 0;
}
/* line 299, ../sass/styles.scss */
.overlay.open {
  visibility: visible;
  opacity: 1;
}

/* line 305, ../sass/styles.scss */
#settings {
  overflow: scroll;
}
/* line 309, ../sass/styles.scss */
#settings .inc-dec-container {
  margin-top: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/* line 315, ../sass/styles.scss */
#settings .inc-dec-container .label {
  font-size: 1em;
  color: #ccc;
}
/* line 319, ../sass/styles.scss */
#settings .inc-dec-container .inc-dec {
  font-size: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 326, ../sass/styles.scss */
#settings .inc-dec-container .inc-dec button.inc-dec-toggle {
  border-radius: 50%;
  border: 2px solid #01BAEF;
  height: 60px;
  width: 60px;
  color: #01BAEF;
  background-color: transparent;
}
/* line 336, ../sass/styles.scss */
#settings .inc-dec-container .inc-dec button.inc-dec-toggle:hover {
  border: 2px solid #0192bc;
}
/* line 341, ../sass/styles.scss */
#settings .inc-dec-container .inc-dec .number {
  color: white;
  font-size: 1.5em;
  margin: 0px 20px;
}
/* line 349, ../sass/styles.scss */
#settings #save-and-close {
  margin-top: 100px;
  font-size: 1.4em;
  padding: 10px;
  background-color: #6EEB83;
  color: #333;
  border: none;
  border-radius: 10px;
}
/* line 360, ../sass/styles.scss */
#settings #save-and-close:hover {
  background-color: #9bf1a9;
}
